

requirements = """
numpy==1.26.4
pandas==2.2.2
torch==2.3.0
torchvision==0.18.0
scikit-learn==1.5.0
matplotlib==3.8.4
seaborn==0.13.2
jupyter==1.0.0
notebook==7.2.0
medmnist==2.3.0
tqdm==4.66.4
"""
#pip freeze > requirements.txt

